<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.androidzin.brunomateus.beerstodrink" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BeerListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".BeerDetailActivity"
            android:label="@string/title_beer_detail"
            android:parentActivityName=".BeerListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BeerListActivity" />
        </activity>

        <provider
            android:name=".provider.BeerProvider"
            android:authorities="br.com.androidzin.brunomateus.beerstodrink"
            android:exported="true"
            android:readPermission="br.com.androidzin.brunomateus.beerstodrink.permission.READ_BEER" />

        <activity
            android:name=".BeerDrinkingActivity_"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".SettingsActivity_"
            android:label="@string/settings"
            android:parentActivityName=".BeerListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.androidzin.brunomateus.beerstodrink.BeerListActivity" />
        </activity>
/>
        <activity
            android:name=".SettingsOldActivity"
            android:label="@string/settings"
            android:parentActivityName=".BeerListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.androidzin.brunomateus.beerstodrink.BeerListActivity" />
        </activity>
        
    </application>

</manifest>